<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-items is-active">
                    <p>List#1</p>

                </a>
                <a class="list-menu-items">
                    <p>List#1</p>
                </a>
                <a class="list-menu-items">
                    <p>List#1</p>

                </a>
                <a class="list-menu-items">
                    <p>List#1</p>

                </a>
                <!-- <button class="button is-primary has-text-white">+ New List</button> -->
            </div>
            <button class="button is-primary has-text-white" (click)="createNewList()">+ New List</button>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <!-- Task elements -->
            <div class="task">
                <p>task1</p>
            </div>
            <div class="task">
                <p>task2</p>
            </div>
            <div class="task">
                <p>task3</p>
            </div>
            <div class="task complete">
                <p>task4</p>
            </div>

        </div>

    </div>
</div>